venv/
dataset/
temp/
models/pretrained_*/
__pycache__/
*.pyc
.DS_Store
results/
tests/
brain/
afad_env/
*.log
*.csv
!predictions.csv
!video_predictions.csv
!textLog.txt
!voiceTrainingLog.txt
!videoTrainingLog.txt
